<!DOCTYPE html>
<html dir="rtl" lang="he">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Get Documents</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/bootstrap.rtl.min.css" >
		<link rel="stylesheet" href="../css/font-awesome.css" />
		<link rel="stylesheet" href="../css/custom.css" />
	</head>
	<body onload="initialize('main');">
		<a href="#" id="open-shironim-popup" style="color: #000;font-size: 60px;float: left;position: absolute;left: 0px;"><img id="iconButton" src=""/></a>
		<script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
		<script src="../js/bootstrap.bundle.min.js" ></script>
		<script src="../js/shironim.js"></script>
		<!--<script src="http://localhost:8080/addin-js/shironim.js?v=0.1.1.1"></script>-->
	</body>
</html>