<!DOCTYPE html>
<html dir="rtl" lang="he">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Get Documents</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/bootstrap.rtl.min.css" >
		<!--<link rel="stylesheet" href="../css/bootstrap-datepicker3.min.css" >-->
		<link rel="stylesheet" href="../css/jquery-ui.min.css">
		<link rel="stylesheet" href="../css/font-awesome.css" />
		<link rel="stylesheet" href="../css/custom.css" />
	</head>
	<body onload="initialize('main');" style="font-size:10px;">
		<div class="table-responsive" id="list-parent" style="height:100%;">
			<div class="bd-example" style="height:60px;margin-top:10px;">
				<form id="shironim-from">
					<div class="form-check" style="font-size:12px;float:right;padding-top:20px;">
						<div class="form-check-inline">
						  <input class="form-check-input" type="radio" name="show_by" id="show_by_lead_id" value="show_by_lead_id">
						  <label class="form-check-label" for="show_by_lead_id" id="lbl_show_by_lead_id">
							Lead Id
						  </label>
						</div>
						<div class="form-check-inline">
						  <input class="form-check-input" type="radio" name="show_by" id="show_by_insured_id" value="show_by_insured_id">
						  <label class="form-check-label" for="show_by_insured_id" id="lbl_show_by_insured_id">
							Insured Id
						  </label>
						</div>
						<div class="form-check-inline">
						  <input class="form-check-input" type="radio" name="show_by" id="show_by_policy_id" value="show_by_policy_id">
						  <label class="form-check-label" for="show_by_policy_id" id="lbl_show_by_policy_id">
							 Policy Id
						  </label>
						</div>
					</div>
					<div class="form-check form-check-inline" style="font-size:12px;float:right;">
						<label for="workspace-list" id="lblwsList">
							Workspace List
						</label>
						<select class="form-control form-select" style="font-size:12px;" id="workspacelist" name="workspacelist">
						</select>
					</div>
					<div class="form-check form-check-inline" style="font-size:12px;float:right;" id="policyParent">
						<label for="policy-list" id="lblPolicyList">
							Policy Number
						</label>
						<select class="form-control form-select" style="font-size:12px;" id="policylist" name="policylist">
						</select>
					</div>
					<div class="form-check form-check-inline" style="font-size:12px;float:right;" id="idNumberParent">
						<label for="id-number-list" id="lblIdNumberList">
							Id Number
						</label>
						<select class="form-control form-select" style="font-size:12px;" id="idnumberlist" name="idnumberlist">
						</select>
					</div>
					<div class="form-check form-check-inline" style="font-size:12px;float:right;">
						<label for="start-date" id="lblStartDate">
							Start Date
						</label>
						<input class="form-control" style="font-size:12px;" type="text" name="startdate" id="startdate" required/>
					</div>
					<div class="form-check form-check-inline" style="font-size:12px;float:right;">
						<label for="end-date" id="lblEndDate">
							End Date
						</label>
						<input class="form-control" style="font-size:12px;" type="text" name="enddate" id="enddate" required/>
					</div>
				</form>
				<div class="form-check form-check-inline" style="font-size:12px;float:right;margin-top:18px;">
					<button type="submit" style="font-size:12px;" id="get-document" class="btn btn-primary">Search</button>
				</div>
			</div>
			<div class="alert alert-danger" style="display:none;" id="warning-msg" role="alert">
			</div>
			<div class="alert alert-light" style="display:none;" id="info-msg" role="alert">
			</div>
			<div id="document-list-parent" class="container-fluid">
			</div>
		</div>
		<div class="overlay show"></div>
		<div class="spanner show" style="height:100%;">
			<div class="loader"></div>
			<p>Loading...</p>
		</div>
		<script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
		<script src="../js/bootstrap.bundle.min.js" ></script>
		<!--<script src="../js/bootstrap-datepicker.min.js" ></script>-->
		<script src="../js/jquery-ui.min.js"></script>
		<script src="../js/jquery.validate.min.js"></script>
		<script src="../js/additional-methods.min.js"></script>
		<script src="../js/shironim_incident.js"></script>
		<!--<script src="http://localhost:8080/addin-js/shironim_incident.js?v=0.1.1.1"></script>-->
	</body>
</html>